services:
  java_nginx:
    image: nginx:alpine
    container_name: "sw-java-nginx"
    environment:
      TZ: "Asia/Singapore"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8009:80"
    networks:
      - java_network

networks:
  java_network:
    driver: bridge
    enable_ipv6: false
