#version: '3.8'

services:
  #redis:
  #  image: redis:latest
  #  container_name: "sw-redis"
  #  ports:
  #    - "13031:6379"
  #  command: redis-server --requirepass 1q2w3e
  #  environment:
  #    TZ: "Asia/Singapore"

  sw_web_server:
    image: nginx:alpine
    container_name: "sw-py-nginx"
    environment:
      TZ: "Asia/Singapore"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "9009:80"
    networks:
      - app_network
      
networks:
  app_network:
    driver: bridge
    enable_ipv6: false

