#version: '3.8'

services:
  sw_primary:
    container_name: "sw-py-main"
    build:
      context: .
      args:
        ENV: "prod"
    image: sw-py-server:latest
    environment:
      TZ: "Asia/Singapore"
    ports:
      - "9002:9002"
    volumes:
      - /work/deploy/smartswin/python/main/logs:/app/logs
      - /work/deploy/smartswin/python/main/data:/app/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
    enable_ipv6: false

